In [40]:
import pandas as pd
import json
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
import time
df=pd.read_csv("cities.csv")

In [41]:
df

   Code IMP_codes
0   AGR       DEL
1   DIB       BOM
2   HYD       BLR
3   BHJ       HYD
4   HBX       MAA
..  ...       ...
79  IXS       NaN
80  CNN       NaN
81  GOI       NaN
82  AMD       NaN
83  TIR       NaN

[84 rows x 2 columns]

In [42]:
df["IMP_codes"].iloc[29]

'TRZ'

In [ ]:
from tqdm import tqdm
price=[]
cities=[]
departure_time=[]
arrival_time=[]
via=[]
airline=[]
cabin=[]
scraping_time = []
driver = webdriver.Chrome("C:\Program Files (x86)\chromedriver.exe")

for z in range(28, 29):
    driver.refresh()
    for m in range(7, 30):
        driver.refresh()
        for n in range(7, 30):
            driver.refresh()
            if df["IMP_codes"].iloc[m]!=df["IMP_codes"].iloc[n]:
                print("source=",m, "destination=",n, "Dates=",z)
                print(df["IMP_codes"].iloc[m],df["IMP_codes"].iloc[n])
                k=''
                if(z<10):
                    k='0'
                url="https://www.makemytrip.com/flight/search?itinerary="+df["IMP_codes"].iloc[m]+"-"+df["IMP_codes"].iloc[n]+"-"+k+str(z)+"/05/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
                #driver = webdriver.Chrome("C:/chromedriver.exe")
                driver.get(url)
               
                soup=BeautifulSoup(driver.page_source, 'lxml')

                price_info=soup.find_all('p',attrs={'class': 'blackText fontSize18 blackFont'})
                flights_info=soup.find_all('p',attrs={'class': 'flightDetailsHead'})
                time_info=soup.find_all('p',attrs={'class':"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})
                layover_info=soup.find_all('p',attrs={'class': 'flightsLayoverInfo'})
                airline_info=soup.find_all('span',attrs={'class': 'boldFont blackText airlineName'})
                now1 = datetime.now()
                print("now =", now1)

#price_info
                for i,j in enumerate(price_info):
                    if i<30:
                       a=str(j)
                       price.append(a[43:len(a)-4])
                      
    #flights_info
                for i,j in enumerate(flights_info):
                    if i<60:
                        k=str(j)
                        if len(k)>45:
                            cities.append(k[29:(len(k)-4)])
                            scraping_time.append(now1)

    #time_info
                for i,j in enumerate(time_info):
                    if i<60:
                        k=str(j)
                        if (i%2==0):
                            departure_time.append(k[82:87])
                        if (i%2!=0):
                            arrival_time.append(k[82:87])

    #layover_info
                for i,j in enumerate(layover_info):
                    if i<30:
                        k=str(j)
                        via.append(k[30:len(k)-4])

    #airline_info
                for i,j in enumerate(airline_info):
                    if i<30:            
                        k=str(j)
                        airline.append(k[45:len(k)-7])
                print("**"*50)
                print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline),len(scraping_time))

source= 7 destination= 8 Dates= 28
GOI PNQ
now = 2021-05-09 22:58:53.188462
****************************************************************************************************
7 7 7 7 7 7 7
source= 7 destination= 9 Dates= 28
GOI GAU
now = 2021-05-09 22:59:40.428615
****************************************************************************************************
22 22 22 22 22 22 22

In [61]:
data = pd.DataFrame(
    {'Price':price,
     'Cities':cities,
     'departure_time':departure_time,
     'arrival_time':arrival_time, 
     'layeover':via,
     'Airline':airline,
     'Scraping_Time':scraping_time
    })

In [62]:
data

,Price,Cities,departure_time,arrival_time,layeover,Airline,Scraping_Time
0,"4,428","New Delhi to Mumbai , 28 May",16:55,21:10,1 stop via Lucknow,Go Air,2021-05-09 21:08:10.595894
1,"4,428","New Delhi to Mumbai , 28 May",16:45,21:40,1 stop via Ahmedabad,Go Air,2021-05-09 21:08:10.595894
2,"4,428","New Delhi to Mumbai , 28 May",12:10,17:45,1 stop via Goa,IndiGo,2021-05-09 21:08:10.595894
3,"4,428","New Delhi to Mumbai , 28 May",16:30,22:10,1 stop via Lucknow,IndiGo,2021-05-09 21:08:10.595894
4,"4,428","New Delhi to Mumbai , 28 May",11:00,16:45,1 stop via Patna,Go Air,2021-05-09 21:08:10.595894
...,...,...,...,...,...,...,...
2795,"7,172","Goa to Kochi , 28 May",11:45,19:25,1 stop via Mumbai,Go Air,2021-05-09 22:56:46.217668
2796,"7,172","Goa to Kochi , 28 May",18:15,07:10,1 stop via Mumbai,Go Air,2021-05-09 22:56:46.217668
2797,"7,172","Goa to Kochi , 28 May",17:25,07:10,1 stop via Mumbai,Go Air,2021-05-09 22:56:46.217668
2798,"7,312","Goa to Kochi , 28 May",07:30,19:15,1 stop via Mumbai,Air India,2021-05-09 22:56:46.217668
2799,"7,942","Goa to Kochi , 28 May",12:30,19:15,1 stop via Mumbai,Air India,2021-05-09 22:56:46.217668

In [63]:
print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline))

2800 2800 2800 2800 2800 2800

In [64]:
data.to_csv('v4-part28-1st.csv')