In [112]:
import pandas as pd
import json
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
import time
df=pd.read_csv("cities.csv")

In [113]:
df

   Code IMP_codes
0   AGR       DEL
1   DIB       BOM
2   HYD       BLR
3   BHJ       HYD
4   HBX       MAA
..  ...       ...
79  IXS       NaN
80  CNN       NaN
81  GOI       NaN
82  AMD       NaN
83  TIR       NaN

[84 rows x 2 columns]

In [114]:
df["IMP_codes"].iloc[29]

'TRZ'

In [ ]:
from tqdm import tqdm
price=[]
cities=[]
departure_time=[]
arrival_time=[]
via=[]
airline=[]
cabin=[]
scraping_time = []
driver = webdriver.Chrome("C:\Program Files (x86)\chromedriver.exe")

for z in range(30,31):
    driver.refresh()
    for m in range(21, 23):
        driver.refresh()
        for n in range(8, 30):
            driver.refresh()
            if df["IMP_codes"].iloc[m]!=df["IMP_codes"].iloc[n]:
                print("source=",m, "destination=",n, "Dates=",z)
                print(df["IMP_codes"].iloc[m],df["IMP_codes"].iloc[n])
                k=''
                if(z<10):
                    k='0'
                url="https://www.makemytrip.com/flight/search?itinerary="+df["IMP_codes"].iloc[m]+"-"+df["IMP_codes"].iloc[n]+"-"+k+str(z)+"/05/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=B&ccde=IN&lang=eng"
                #driver = webdriver.Chrome("C:/chromedriver.exe")
                driver.get(url)
                soup=BeautifulSoup(driver.page_source, 'lxml')

                price_info=soup.find_all('p',attrs={'class': 'blackText fontSize18 blackFont'})
                flights_info=soup.find_all('p',attrs={'class': 'flightDetailsHead'})
                time_info=soup.find_all('p',attrs={'class':"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})
                layover_info=soup.find_all('p',attrs={'class': 'flightsLayoverInfo'})
                airline_info=soup.find_all('span',attrs={'class': 'boldFont blackText airlineName'})
                now1 = datetime.now()
                print("now =", now1)

#price_info
                for i,j in enumerate(price_info):
                    if i<30:
                       a=str(j)
                       price.append(a[43:len(a)-4])
                      
    #flights_info
                for i,j in enumerate(flights_info):
                    if i<60:
                        k=str(j)
                        if len(k)>45:
                            cities.append(k[29:(len(k)-4)])
                            scraping_time.append(now1)

    #time_info
                for i,j in enumerate(time_info):
                    if i<60:
                        k=str(j)
                        if (i%2==0):
                            departure_time.append(k[82:87])
                        if (i%2!=0):
                            arrival_time.append(k[82:87])

    #layover_info
                for i,j in enumerate(layover_info):
                    if i<30:
                        k=str(j)
                        via.append(k[30:len(k)-4])

    #airline_info
                for i,j in enumerate(airline_info):
                    if i<30:            
                        k=str(j)
                        airline.append(k[45:len(k)-7])
                print("**"*50)
                print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline),len(scraping_time))

source= 21 destination= 8 Dates= 30
SXR PNQ

In [106]:
data = pd.DataFrame(
    {'Price':price,
     'Cities':cities,
     'departure_time':departure_time,
     'arrival_time':arrival_time, 
     'layeover':via,
     'Airline':airline,
     'Scraping_Time':scraping_time
    })

In [107]:
data

,Price,Cities,departure_time,arrival_time,layeover,Airline,Scraping_Time
0,"11,775","Lucknow to New Delhi , 27 May",15:25,16:35,Non stop,Vistara,2021-05-09 17:45:15.096462
1,"11,875","Lucknow to New Delhi , 27 May",20:15,21:35,Non stop,Air India,2021-05-09 17:45:15.096462
2,"11,875","Lucknow to New Delhi , 27 May",08:55,10:20,Non stop,Air India,2021-05-09 17:45:15.096462
3,"47,581","Lucknow to New Delhi , 27 May",11:05,18:20,1 stop via Mumbai,Air India,2021-05-09 17:45:15.096462
4,"47,581","Lucknow to New Delhi , 27 May",11:05,20:30,1 stop via Mumbai,Air India,2021-05-09 17:45:15.096462
...,...,...,...,...,...,...,...
3385,"40,504","Srinagar to Goa , 30 May",09:25,06:50,"2 stop via New Delhi,Mumbai",Air India,2021-05-10 03:47:56.183492
3386,"40,504","Srinagar to Goa , 30 May",09:25,06:50,"3 stop via New Delhi,Aurangabad,Mumbai",Air India,2021-05-10 03:47:56.183492
3387,"40,504","Srinagar to Goa , 30 May",09:25,06:50,"2 stop via New Delhi,Mumbai",Air India,2021-05-10 03:47:56.183492
3388,"40,672","Srinagar to Goa , 30 May",12:50,06:50,"2 stop via New Delhi,Mumbai","Vistara, Air India",2021-05-10 03:47:56.183492
3389,"40,672","Srinagar to Goa , 30 May",12:50,06:50,"3 stop via New Delhi,Aurangabad,Mumbai","Vistara, Air India",2021-05-10 03:47:56.183492

In [108]:
print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline))

3390 3390 3390 3390 3390 3390

In [109]:
data.to_csv("new_business_may27-30-part1.csv", index = False)

In [110]:
df = pd.read_csv("new_business_may27-30-part1.csv")
df.shape

(3390, 7)

In [111]:
df.tail()

,Price,Cities,departure_time,arrival_time,layeover,Airline,Scraping_Time
3385,"40,504","Srinagar to Goa , 30 May",09:25,06:50,"2 stop via New Delhi,Mumbai",Air India,2021-05-10 03:47:56.183492
3386,"40,504","Srinagar to Goa , 30 May",09:25,06:50,"3 stop via New Delhi,Aurangabad,Mumbai",Air India,2021-05-10 03:47:56.183492
3387,"40,504","Srinagar to Goa , 30 May",09:25,06:50,"2 stop via New Delhi,Mumbai",Air India,2021-05-10 03:47:56.183492
3388,"40,672","Srinagar to Goa , 30 May",12:50,06:50,"2 stop via New Delhi,Mumbai","Vistara, Air India",2021-05-10 03:47:56.183492
3389,"40,672","Srinagar to Goa , 30 May",12:50,06:50,"3 stop via New Delhi,Aurangabad,Mumbai","Vistara, Air India",2021-05-10 03:47:56.183492